@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/*--------HEADER------*/

.main-nav {
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(116, 100, 80);
    padding: 8px;
}

.main-nav-li {
    list-style: none;
    padding: 2rem;
    font-size: 1.3rem;
}

.cart {
    font-size: 30px;
    position: relative;
    left: -40px;
}

.company-logo {
    font-size: 3.7rem;
    float: right;
    margin-top: -7.5rem;
    margin-left: 1rem;
    padding: 3rem;
    color: rgb(116, 100, 80);
}

.company-name {
    font-size: 2rem;
    float: right;
    margin-top: -4.5rem;
    margin-right: 7.6rem;
    color: rgb(116, 100, 80);
}

.drop0::after {
    content: attr(tooltip0);
    display: block;
    position: absolute;
    background-color: rgb(225, 126, 73);
    padding: .3em .7em;
    color: white;
    border-radius: 5px;
    font-size: .8em;
    top: 6.6%;
    left: 6.5%;
    transform: scale(0);
    transition: .5s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .5s ease-out 100ms;
    -moz-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.drop::after {
    content: attr(tooltip);
    display: block;
    position: absolute;
    background-color: rgb(225, 126, 73);
    padding: .3em .7em;
    color: white;
    border-radius: 5px;
    font-size: .8em;
    top: 6.6%;
    left: 1%;
    transform: scale(0);
    transition: .5s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .5s ease-out 100ms;
    -moz-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.drop1::after {
    content: attr(tooltip1);
    display: block;
    position: absolute;
    background-color: rgb(225, 126, 73);
    padding: .3em .7em;
    color: white;
    border-radius: 5px;
    font-size: .8em;
    top: 6.6%;
    left: 15%;
    transform: scale(0);
    transition: .5s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .5s ease-out 100ms;
    -moz-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.drop2::after {
    content: attr(tooltip2);
    display: block;
    position: absolute;
    background-color: rgb(225, 126, 73);
    padding: .3em .7em;
    color: white;
    border-radius: 5px;
    font-size: .8em;
    top: 6.6%;
    left: 25%;
    transform: scale(0);
    transition: .5s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .5s ease-out 100ms;
    -moz-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.drop3::after {
    content: attr(tooltip3);
    display: block;
    position: absolute;
    background-color: rgb(225, 126, 73);
    padding: .3em .7em;
    color: white;
    border-radius: 5px;
    font-size: .8em;
    top: 6.6%;
    left: 31%;
    transform: scale(0);
    transition: .5s ease-out;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: .5s ease-out 100ms;
    -moz-transition: .5s ease-out;
    -ms-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.drop:hover::after,
.drop0:hover::after,
.drop1:hover:after,
.drop2:hover:after,
.drop3:hover:after {
    transform: scale(1);
}


/*--------MAIN------*/

.hero-section {
    width: 100%;
    height: 650px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.256), rgba(0, 0, 0, 0.755)),url("https://images.unsplash.com/photo-1449505278894-297fdb3edbc1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80");
    background-attachment: fixed;
    background-position: center;
}

.featured {
    display: flex;
    margin: 30px 150px 0px 150px;
}

.img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    -moz-transition: transform 0.5s, opacity 0.5s;
    -ms-transition: transform 0.5s, opacity 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.img:hover {
    opacity: 1;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -moz-transform: scale(1.0);
}

.shopnow {
    background-color: rgb(249, 247, 247);
}

.products {
    display: flex;
}

.men,
.women {
    margin: 30px 0 -170px 110px;
}

.men img,
.women img {
    width: 80%;
    height: 80%;
}


/*--------FORM------*/


.contact-form {
    width: 60%;
    margin: 0 0 0 30%;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}

.form {
    display: flex;
}

.name,
.email,
.find,
.newsletter,
.message {
    color: rgb(235, 187, 128);
    font-size: 28px;
}

.input-name {
    margin: 0 0 20px 250px;
    width: 400px;

}

.input-email {
    margin: 0 0 20px 260px;
    width: 400px;
}

.input-find {
    margin: 0 0 20px 51px;
    width: 400px;
}

.input-newsletter {
    margin: 0 0 20px 167px;
    width: 400px;
}

.input-message {
    margin: 0 0 20px 144px;
    width: 400px;
}
/*--------HEADINGS------*/

h1 {
    color: rgb(235, 187, 128);
    text-transform: uppercase;
    font-size: 4rem;
    padding: 2rem;
}

h2 {
    color: rgb(235, 187, 128);
    text-transform: uppercase;
    font-size: 2.4rem;
    padding: 2rem;
}

.hero-heading {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.hero-heading-1 {
    position: absolute;
    bottom: 5%;
    right: 3%;
}


.heading-form {
    margin-left: 300px;
}

.sub_shopnow {
    max-width: 450px;
    margin: 0 auto;
}

.heading-form::after {
    margin: 20px 0 50px 400px;
    display: block;
    content: "";
    width: 260px;
    height: 3px;
    background-color: rgb(235, 187, 128);
}

.heading-shop::after {
    margin: 20px 0 0 50px;
    display: block;
    content: "";
    width: 260px;
    height: 3px;
    background-color: rgb(235, 187, 128);
}

/*--------BUTTONS------*/

.btn {
    font-size: 15px;
    background: rgb(235, 187, 128);
    color: beige;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 50px;
    border: 1px solid rgb(235, 187, 128);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.hero-btn {
    position: absolute;
    top: 50%;
    left: 9%;
}

.hero-btn:hover,
.btn-send:hover,
.btn-shop-men:hover,
.btn-shop-women:hover {
    cursor: pointer;
    background: rgb(232, 168, 89);
}

.btn-send {
    position: relative;
    top: -50px;
}

.btn-shop-men {
    position: relative;
    left: -75%;
    bottom: 10%;
    opacity: 0.9;
}

.btn-shop-women {
    position: relative;
    left: 5%;
    bottom: 14%;
    opacity: 0.9;
}

/*--------IMAGES------*/

.shoe-1 {
    width: 70%;
    height: 80%;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}


.shoe-2 {
    width: 60%;
    height: 50%;
    border-radius: 30px;
}

.shoe-1:hover,
.shoe-2:hover {
    box-shadow: 1px 1px 10px rgba(222, 126, 67, 0.954);
}

/*--------FOOTER------*/


footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}


footer p {
    color: #888;
    margin-top: 50px;
    margin-left: 650px;
}